@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: lavenderblush;
        background-image: url(https://img.pngio.com/elementary-school-building-illustration-transparent-png-svg-vector-school-illustration-png-512_512.png);
        font-weight: 800;
    }

    div {
        font-weight: 800;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Course Registration</h1>
    <p>Welcome to Our School Registration System.</p>
</div>

